force-app/main/default/flows/Account_Info_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_ChatGPT</name>
        <label>Call ChatGPT</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>ChatGPT</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ChatGPT_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apikey</name>
            <value>
                <stringValue>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</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>content1</name>
            <value>
                <elementReference>InpPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>role1</name>
            <value>
                <stringValue>user</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>txtResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_To_Account</name>
        <label>Assign To Account</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAccount.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>no</name>
        <choiceText>no</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_update_description</name>
        <label>Check update description?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_description_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Account</targetReference>
            </connector>
            <label>update description?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>*Account Info Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Account Info Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>recAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>ChatGPT_Requests</name>
        <label>ChatGPT Requests</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_ChatGPT</targetReference>
        </connector>
        <fields>
            <name>dspHeader</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;How can I help you?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InpPrompt</name>
            <dataType>String</dataType>
            <fieldText>prompt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ChatGPT_Response</name>
        <label>ChatGPT Response</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_update_description</targetReference>
        </connector>
        <fields>
            <name>dspResponse</name>
            <fieldText>&lt;p&gt;Response:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!txtResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Description</name>
            <choiceReferences>yes</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Description?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChatGPT_Requests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
